h1 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ol {
    margin-top: 10px;
}

body {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #4d5487;
    background-image: url('nightsky.png');
    background-size: 400px;
}

.inside {
    display: block;
    padding: 50px;
    background-color: #ebeff2;
}

.divider {
    height: 30px;
}

.divider2 {
    height: 15px;
}

a {
    text-decoration: None;
    color: #2534a1;
}

/* Tablets */
@media (max-width: 1024px) {
    body {
        padding: 5vw;
        font-size: 20px;
    }
}

/* Mobile */
@media (max-width: 500px) {
    body {
        padding: 5vw;
        font-size: 20px;
    }
    .inside {
        padding: 20px;
    }
}