h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

body {
    background: #d8bee6;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    text-size-adjust: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('bg.jpg');
    background-size: 400px;
}

content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: wheat;
    border-radius: 3px;
    border-color: black;
    padding: 8px;
    border-width: 5px;
}

a {
    text-decoration: None;
    color: #3492eb;
}

ul {
    display: flex;
    list-style-type: None;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    justify-content: center;
    gap: 7px;
}

li {
    list-style-type: None;
}

.text {
    padding: 5px;
}