h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #4d5487;
    background-image: url('nightsky.png');
    background-size: 400px;
}

.inside {
    display: block;
    padding: 50px;
    background-color: #ebeff2;
}

.divider {
    height: 30px;
}

.divider2 {
    height: 15px;
}

a {
    text-decoration: None;
    color: #2534a1;
}