h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #4d5487;
}

.inside {
    border-left: 10px solid #fcc600;
    border-right: 10px solid #fcc600;
    display: block;
    padding: 50px;
    background-color: white;
}

.divider {
    height: 30px;
}

.divider2 {
    height: 15px;
}

a {
    text-decoration: None;
    color: #2534a1;
}