@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.header {
    height: 150px;
    width: 100%;
    background-color: #bdd9de;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    max-width: 340px;
    height: auto;
    position: relative;
}

@media (max-width: 767px) {
  .header-content {
    padding-left: 10px;
    align-items: center;
  }
}

.header-2 {
    height: 50px;
    width: 100%;
    background-color: white;
    padding-top: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-size-adjust: auto;
  flex-direction: column;
  background-color: #bdd9de;
  margin-left: 300px;
  margin-right: 300px;
}

.text {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    box-shadow: 5px 10px;
    padding:75px;
    flex: auto;
    text-align: left;
    flex-direction: column;
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
    margin: 0 auto 0 auto;
    background-color: #fcefd9;
}

/* Laptop */
@media (max-width: 1500px) {
  body {
    margin-left: 200px;
    margin-right: 200px;
  }
  .text {
    padding-left: 75px;
    padding-right: 75px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  body {
    margin-left: 75px;
    margin-right: 70px;
  }
  .text {
    padding: 40px;
  }
}

/* Phone */
@media (max-width: 500px) {
  body {
    margin-left: 30px;
    margin-right: 25px;
  }
  .text {
    padding: 20px;
  }
  .banner {
    max-width: 280;
  }
}

p {
    text-align: left;
    font-size: 18px;
}

* {
    margin: 0;
}

h1 {
    font-size: 52px;
    font-family: "Abril Fatface", "Calibri", sans-serif;
    text-align: center;
    font-weight: 70;
    -webkit-text-fill-color: #bdd9de;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px black;
    font-style: italic;
}

.pink {
  -webkit-text-fill-color: #fc7ec3;
}

.blue {
  -webkit-text-fill-color: #6290c4;
}

.purple {
  -webkit-text-fill-color: #918ad4;
}

.yellow {
  -webkit-text-fill-color: #ffb83d;
}

a {
    text-decoration: None;
    color: #55769e;
    font-family: 'Calibri', sans-serif;
}

.home {
    width: 100px;
    height: 50px;
    border: None;
    background-image: url('home.png');
    background-size: 100px;
    border-radius: 8px;
    cursor: pointer;
}

.content {
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

.header-links {
    display: flex;
    list-style-type: None;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    justify-content: center;
    gap: 50px;
}

.footer {
    padding-bottom: 150px;
}

.tbd {
  font-size: 500px;
}

/* Carousel stuff */

.carousel {
    position: relative;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;  
  }
  
  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
  }
  
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .carousel__button--left {
    left: -60px;
  }
  
  .carousel__button--right {
    right: -60px;
  }
  
  .carousel__button img {
    width: 50px;
  }
  
  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: rgb(176, 131, 197);
    margin: 0 12px;
    cursor: pointer;
  }
  
  .carousel__indicator.current-slide {
    background: rgba(0,0,0,.75);
  }
  
  .is-hidden {display: none;}