@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.header {
    height: 150px;
    width: 100%;
    /* background-color: #919ec7; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    max-width: 340px;
    height: auto;
    position: relative;
}

/* Phone */
@media (max-width: 767px) {
  .header {
    height: 20vw;
  }
  .header-content {
    padding-left: 10px;
    align-items: center;
  }
}

.header-2 {
    height: 50px;
    width: 100%;
    background-color: white;
    padding-top: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-size-adjust: auto;
  flex-direction: column;
  background-color: #919ec7;
  margin-left: 300px;
  margin-right: 300px;
}

.home {
  font-weight: 500;
  display: flex;
  justify-content: right;
}

.text {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    /* border-radius: 20px; */
    box-shadow: 5px 10px;
    padding:75px;
    flex: auto;
    text-align: left;
    flex-direction: column;
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
    margin: 0 auto 0 auto;
    background-color: #fcefd9;
}

/* Laptop */
@media (max-width: 1500px) {
  body {
    margin-left: 200px;
    margin-right: 200px;
  }
  .text {
    padding-left: 75px;
    padding-right: 75px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  body {
    margin-left: 75px;
    margin-right: 70px;
  }
  .text {
    padding: 40px;
  }
}

/* Phone */
@media (max-width: 500px) {
  body {
    margin-left: 30px;
    margin-right: 25px;
  }
  .text {
    padding: 20px;
  }
  .banner {
    max-width: 280;
  }
}

p {
    text-align: left;
    font-size: 18px;
}

* {
    margin: 0;
}

h1 {
    /* font-size: 52px; */
    font-family: "Abril Fatface", "Calibri", sans-serif;
    /* text-align: center; */
    font-weight: 70;
    -webkit-text-fill-color: #bdd9de;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px black;
    /* font-style: italic; */
}

.pink {
  -webkit-text-fill-color: #fc7ec3;
}

.blue {
  -webkit-text-fill-color: #6290c4;
}

.purple {
  -webkit-text-fill-color: #918ad4;
}

.yellow {
  -webkit-text-fill-color: #ffb83d;
}

a {
    text-decoration: None;
    color: #55769e;
    font-family: 'Calibri', sans-serif;
}

/* .home {
    width: 100px;
    height: 50px;
    border: None;
    background-image: url('home.png');
    background-size: 100px;
    border-radius: 8px;
    cursor: pointer;
} */

.content {
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

.header-links {
    display: flex;
    list-style-type: None;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    justify-content: center;
    gap: 50px;
}

.footer {
    padding-bottom: 150px;
}

.tbd {
  font-size: 500px;
}

.tt {
  position: relative;
  display: inline-block;
  border-bottom: 0.8px dotted black;
}

.tt .ttt {
  visibility: hidden;
  width: 120px;
  background-color: #ffb83d;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tt:hover .ttt {
  visibility: visible;
}

.sky-banner {
  width: 100%;
}

.star-container {
  /* height: 1vh; */
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index:-100;
  /* border-width: 2px;
  border-color: black;
  border-style: dashed; */
  top: 0;
}

.star {
  position: absolute;
  top: -300px; /* Start position (off-screen) */
  left: 0vw;
  /* opacity: 0; */
  animation: drop 2s ease-out forwards;
  width: 100%;
}

.star:nth-child(1) {
  animation-delay: 0s;
}

.star:nth-child(2) {
  animation-delay: 0.5s;
}

.star:nth-child(3) {
  animation-delay: 1s;
}

.star:nth-child(4) {
  animation-delay: 1.5s;
}

.star:nth-child(5) {
  animation-delay: 2s;
}

@keyframes drop {
  0% {
      top: -600px; /* Initial position (off-screen) */
  }
  100% {
      top: -150px; /* Final position */
      opacity: 1;
      transform: translateY(0vh);
  }
}

.star-container.animate .star {
  animation: drop 2s ease-out forwards;
}

@media (max-width: 1400px) {
  @keyframes drop {
    0% {
        top: -300px; /* Initial position (off-screen) */
    }
    100% {
        top: -100px; /* Final position */
        opacity: 1;
        transform: translateY(0vh);
    }
  }
}

@media (max-width: 1000px) {
  @keyframes drop {
    0% {
        top: -300px; /* Initial position (off-screen) */
    }
    100% {
        top: -20px; /* Final position */
        opacity: 1;
        transform: translateY(0vh);
    }
  }
}